In [47]:
import pandas as pd
import random

In [48]:
data=pd.read_csv("OCT.csv")

In [49]:
data.head()

Empty DataFrame
Columns: [orphan, social_category, minority_group, bpl_beneficiary, ews_group, cwsn, mother's_occupation, father's_occupation, mother's_qualification, father's_qualification, family_annual_income, debt, mental_issues, results_in_previous_year_type, status_in_previous_year, dropout_student]
Index: []

In [50]:
orphan=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        orphan.append(1)
    else:
        orphan.append(0)
data['orphan']=orphan

In [51]:
social_category=[]

for i in range(0,50000):
    social_category.append(random.randint(1,4))
        
data['social_category']=social_category

In [52]:
minority_group=[]

for i in range(0,50000):
    minority_group.append(random.randint(1,7))
        
data['minority_group']=minority_group

In [53]:
bpl_beneficiary=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        bpl_beneficiary.append(1)
    else:
        bpl_beneficiary.append(0)        
data['bpl_beneficiary']=bpl_beneficiary

In [54]:
ews_group=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        ews_group.append(1)
    else:
        ews_group.append(0)        
data['ews_group']=ews_group

In [55]:
cwsn=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        cwsn.append(1)
    else:
        cwsn.append(0)        
data['cwsn']=cwsn

In [56]:
mothers_occupation=[]

for i in range(0,50000):
    if(random.randint(0,500) < 150):
        mothers_occupation.append(0)
    else:
        mothers_occupation.append(1)        
data['mother\'s_occupation']=mothers_occupation

In [58]:
fathers_occupation=[]

for i in range(0,50000):
    if(random.randint(0,500) < 70):
        fathers_occupation.append(1)
    else:
        fathers_occupation.append(0)        
data['father\'s_occupation']=fathers_occupation

In [59]:
mothers_qualification=[]

for i in range(0,50000):
    mothers_qualification.append(random.randint(0,5))
        
data['mother\'s_qualification']=mothers_qualification

fathers_qualification=[]

for i in range(0,50000):
    fathers_qualification.append(random.randint(0,5))
        
data['father\'s_qualification']=fathers_qualification

In [61]:
family_annual_income=[]

for i in range(0,50000):
    family_annual_income.append(random.randint(0,2))
data['family_annual_income']=family_annual_income

In [62]:
debt=[]

for i in range(0,50000):
    debt.append(random.randint(0,1))
data['debt']=debt

In [63]:
mental_issues=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        mental_issues.append(0)
    else:
        mental_issues.append(1)
data['mental_issues']=mental_issues

In [64]:
results_in_previous_year_type=[]

for i in range(0,50000):
    results_in_previous_year_type.append(random.randint(1,4))
data['results_in_previous_year_type']=results_in_previous_year_type

In [65]:
status_in_previous_year=[]

for i in range(0,50000):
    status_in_previous_year.append(random.randint(1,4))
data['status_in_previous_year']=status_in_previous_year

In [66]:
dropout_student=[]

for i in range(0,50000):
    if(random.randint(0,500) < 100):
        dropout_student.append(0)
    else:
        dropout_student.append(1)
data['dropout_student']=dropout_student

In [67]:
data.head(50)

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,family_annual_income,debt,mental_issues,results_in_previous_year_type,status_in_previous_year,dropout_student
0,0,3,4,0,0,1,1,0,3,0,1,1,0,3,3,1
1,0,2,1,1,0,0,0,1,5,2,2,0,1,2,1,0
2,0,3,1,0,0,0,0,0,5,5,1,1,1,2,3,0
3,0,1,6,0,0,1,0,0,3,2,2,0,0,1,4,1
4,0,1,2,0,0,1,1,0,3,1,2,0,1,3,3,0
5,0,2,1,0,0,0,1,0,0,4,0,1,1,2,4,0
6,0,1,4,0,0,0,0,0,4,3,2,0,1,1,2,1
7,0,3,7,1,0,0,1,1,2,2,2,1,0,3,3,0
8,1,2,4,0,0,0,0,1,1,4,1,1,1,2,3,1
9,0,1,6,0,0,1,0,0,4,5,2,1,1,3,3,1
10,0,4,2,0,0,0,0,1,2,2,1,0,1,2,4,0
11,0,2,6,0,0,0,1,0,5,2,1,0,1,3,2,1
12,1,3,2,0,0,0,1,1,2,1,1,1,1,1,1,1
13,1,4,1,0,0,0,1,0,0,5,0,1,1,4,4,1
14,1,4,7,0,1,0,1,0,2,3,0,0,1,2,3,0
15,1,1,7,0,1,0,1,0,0,4,2,0,1,3,4,0
16,0,2,7,1,0,1,1,0,2,1,2,1,0,3,4,1
17,0,4,5,1,0,0,1,0,4,2,0,1,0,3,1,1
18,0,4,4,1,0,0,1,0,0,2,0,0,1,1,3,0
19,0,4,3,0,1,0,0,0,5,3,0,1,1,1,2,1
20,0,4,4,0,0,0,1,0,5,0,0,0,1,1,3,1
21,1,3,7,0,0,0,1,0,2,2,2,0,1,2,3,1
22,0,2,1,1,0,1,0,0,1,0,0,1,0,3,3,1
23,0,1,5,0,0,0,1,0,1,2,2,0,0,4,1,0
24,0,2,3,1,0,0,0,0,2,2,2,0,1,2,3,1
25,0,2,2,0,0,1,0,0,1,3,0,0,1,4,2,1
26,1,3,6,1,0,0,0,0,1,4,2,1,1,2,1,1
27,0,2,1,0,0,0,1,0,4,0,2,1,1,4,4,1
28,0,3,1,1,0,1,1,0,0,1,0,1,1,4,4,1
29,0,2,5,0,0,0,1,1,0,1,1,1,1,1,2,1
30,0,2,1,0,0,0,1,0,1,5,0,1,1,3,4,1
31,0,2,4,0,0,0,0,1,1,1,0,1,1,4,2,1
32,1,2,2,0,0,0,1,0,3,0,2,1,1,4,2,1
33,0,2,4,0,0,1,1,0,2,5,1,1,1,2,1,1
34,1,4,5,0,1,0,0,0,4,3,2,0,1,4,4,0
35,0,1,7,1,0,1,1,0,4,4,0,1,1,2,1,1
36,0,3,6,0,0,0,1,0,2,5,0,0,1,4,2,1
37,1,4,6,0,1,0,0,0,4,5,2,0,1,1,2,1
38,0,3,3,0,1,0,1,0,0,5,2,1,1,1,3,0
39,0,2,4,0,1,0,1,0,2,3,2,1,0,2,1,0
40,0,1,7,0,0,0,1,0,4,5,1,1,0,2,4,1
41,0,3,7,0,0,0,0,0,4,1,0,0,1,3,1,1
42,0,1,1,0,0,0,0,0,5,1,2,1,1,4,1,1
43,0,3,6,0,1,0,1,0,2,3,2,0,1,4,1,1
44,0,1,1,0,0,0,1,1,0,0,0,0,1,4,3,1
45,0,1,2,0,0,0,1,0,5,1,2,1,1,3,4,0
46,0,4,1,0,0,0,0,0,4,5,2,0,0,4,1,1
47,0,3,1,0,0,0,1,0,5,3,1,1,1,3,3,1
48,0,2,3,1,0,0,1,0,0,2,0,1,1,1,1,1
49,0,3,2,0,0,0,1,0,0,2,0,1,1,2,2,1