In [1]:
import pandas as pd 
read = pd.read_csv('prince_analysis.csv')
read.head()

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,gender_male,age_1_data,age_2_data,age_3_data,age_4_data,age_5_data,sc,st,obc,general
0,0,3,4,0,0,1,1,0,3,0,...,1,0,0,0,1,0,0,0,1,0
1,0,2,1,1,0,0,0,1,5,2,...,0,0,0,1,0,0,0,1,0,0
2,0,3,1,0,0,0,0,0,5,5,...,0,1,0,0,0,0,0,0,1,0
3,0,1,6,0,0,1,0,0,3,2,...,1,0,0,0,0,1,1,0,0,0
4,0,1,2,0,0,1,1,0,3,1,...,1,0,0,0,1,0,1,0,0,0

In [2]:
"gender_wise_sort".center(99, '-')

'------------------------------------------gender_wise_sort-----------------------------------------'

In [3]:
male=[]
female=[]

for index in range(0 , 50000):
        if read['gender'][index] == 1:
            male.append(1)
        else:
            male.append(0)
print(male[677])

0

In [4]:
for index in range(0 , 50000):
        if read['gender'][index] == 0:
            female.append(1)
        else:
            female.append(0)

In [5]:
print(female[677])

1

In [6]:
read['gender_female'] = female

In [7]:
read['gender_male'] = male

In [8]:
read.head()      #gender wise data sorted into the csv file

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,gender_male,age_1_data,age_2_data,age_3_data,age_4_data,age_5_data,sc,st,obc,general
0,0,3,4,0,0,1,1,0,3,0,...,1,0,0,0,1,0,0,0,1,0
1,0,2,1,1,0,0,0,1,5,2,...,0,0,0,1,0,0,0,1,0,0
2,0,3,1,0,0,0,0,0,5,5,...,0,1,0,0,0,0,0,0,1,0
3,0,1,6,0,0,1,0,0,3,2,...,1,0,0,0,0,1,1,0,0,0
4,0,1,2,0,0,1,1,0,3,1,...,1,0,0,0,1,0,1,0,0,0

In [9]:
female_count = 0
for i in female:
    if i == 1:
        female_count +=1

print(female_count/50000,"%")

0.4979 %

In [10]:
male_count = 0
for i in male:
    if i == 1:
        male_count +=1

print(male_count/50000 , "%","\n\n\n")
print('age_wise_sort'.center(100,"-"))

0.5021 %



-------------------------------------------age_wise_sort--------------------------------------------

In [11]:
age_1=[]
age_1_count=0
for index in range(0,50000):
    if read['age_group'][index] == 1:
        age_1.append(1)
        age_1_count+=1
    else:
        age_1.append(0)

print(age_1_count/50000 ,"%")

0.20042 %

In [12]:
age_2=[]
age_2_count=0

for index in range(0,50000):
    if read['age_group'][index] == 2:
        age_2.append(1)
        age_2_count+=1
    else:
        age_2.append(0)
print(age_2_count/50000,"%")

0.20104 %

In [13]:
age_3=[]
age_3_count=0
for index in range(0,50000):
    if read['age_group'][index] == 3:
        age_3.append(1)
        age_3_count+=1
    else:
        age_3.append(0)
print(age_3_count/50000 , "%")

0.20136 %

In [14]:
age_4=[]
age_4_count=0
for index in range(0,50000):
    if read['age_group'][index] == 4:
        age_4.append(1)
        age_4_count+=1
    else:
        age_4.append(0)
print(age_4_count/50000 , "%")

0.19812 %

In [15]:
age_5=[]
age_5_count=0
for index in range(0,50000):
    if read['age_group'][index] == 5:
        age_5.append(1)
        age_5_count+=1
    else:
        age_5.append(0)
print(age_5_count/50000 , "%")

0.19906 %

In [16]:
read['age_1_data']=age_1
read['age_2_data']=age_2
read['age_3_data']=age_3
read['age_4_data']=age_4
read['age_5_data']=age_5

In [17]:
read.to_csv('prince_analysis.csv')

In [18]:
print("age_wise_data_inserted".center(100, "-"))
print("\n\n")

---------------------------------------age_wise_data_inserted---------------------------------------

In [19]:
read.head()

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,gender_male,age_1_data,age_2_data,age_3_data,age_4_data,age_5_data,sc,st,obc,general
0,0,3,4,0,0,1,1,0,3,0,...,1,0,0,0,1,0,0,0,1,0
1,0,2,1,1,0,0,0,1,5,2,...,0,0,0,1,0,0,0,1,0,0
2,0,3,1,0,0,0,0,0,5,5,...,0,1,0,0,0,0,0,0,1,0
3,0,1,6,0,0,1,0,0,3,2,...,1,0,0,0,0,1,1,0,0,0
4,0,1,2,0,0,1,1,0,3,1,...,1,0,0,0,1,0,1,0,0,0

In [20]:
print("cast_wise_data_sort".center(100,"-"))

----------------------------------------cast_wise_data_sort-----------------------------------------

In [21]:
sc=[]
sc_count=0
for index in read.index:
        if read['social_category'][index] == 1:
            sc.append(1)
            sc_count +=1
        else:
            sc.append(0)
print(sc_count/50000 ,"%")

0.25136 %

In [22]:
st=[]
st_count=0
for index in read.index:
        if read['social_category'][index] == 2:
            st.append(1)
            st_count +=1
        else:
            st.append(0)
print(st_count/50000 ,"%")

0.25122 %

In [23]:
obc=[]
obc_count=0
for index in read.index:
        if read['social_category'][index] == 3:
            obc.append(1)
            obc_count +=1
        else:
            obc.append(0)
print(obc_count/50000 ,"%")

0.24858 %

In [24]:
general=[]
general_count=0
for index in read.index:
        if read['social_category'][index] == 4:
            general.append(1)
            general_count +=1
        else:
            general.append(0)
print(general_count/50000 ,"%")

0.24884 %

In [25]:
read['sc']=sc
read['st']=st
read['obc']=obc
read['general']=general

In [26]:
read.to_csv('prince_analysis.csv')
print("\n\n" , "cast_wise_data_sorted".center(100, '-'))

 ---------------------------------------cast_wise_data_sorted----------------------------------------

In [28]:
read.head()

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,gender_male,age_1_data,age_2_data,age_3_data,age_4_data,age_5_data,sc,st,obc,general
0,0,3,4,0,0,1,1,0,3,0,...,1,0,0,0,1,0,0,0,1,0
1,0,2,1,1,0,0,0,1,5,2,...,0,0,0,1,0,0,0,1,0,0
2,0,3,1,0,0,0,0,0,5,5,...,0,1,0,0,0,0,0,0,1,0
3,0,1,6,0,0,1,0,0,3,2,...,1,0,0,0,0,1,1,0,0,0
4,0,1,2,0,0,1,1,0,3,1,...,1,0,0,0,1,0,1,0,0,0

In [29]:
c1=0
c2=0
c3=0
c4=0
c5=0
c6=0
c7=0
c8=0
c9=0
c10=0
c11=0
c12=0
c13=0
c14=0
c15=0
c16=0
c17=0
c18=0
c19=0
c20=0
c21=0
c22=0
c23=0
c24=0
c25=0
c26=0
c27=0
c28=0
c29=0
c30=0
c31=0
c32=0
c33=0

In [39]:
for index in read.index:
    if read['district'][index] == 1 :
        c1+=1
    elif read['district'][index] == 2 :
        c2+=1
    elif read['district'][index] == 3 :
        c3+=1
    elif read['district'][index] == 4 :
        c4+=1
    elif read['district'][index] == 5 :
        c5+=1
    elif read['district'][index] == 6 :
        c6+=1
    elif read['district'][index] == 7 :
        c7+=1
    elif read['district'][index] == 8 :
        c8+=1
    elif read['district'][index] == 9 :
        c9+=1
    elif read['district'][index] == 10 :
        c10+=1
    elif read['district'][index] == 11 :
        c11+=1
    elif read['district'][index] == 12 :
        c12+=1
    elif read['district'][index] == 13 :
        c13+=1
    elif read['district'][index] == 14 :
        c14+=1
    elif read['district'][index] == 15 :
        c15+=1
    elif read['district'][index] == 16:
        c16+=1
    elif read['district'][index] == 17:
        c17+=1
    elif read['district'][index] == 18 :
        c18+=1
    elif read['district'][index] == 19 :
        c19+=1
    elif read['district'][index] == 20:
        c20+=1
    elif read['district'][index] == 21 :
        c21+=1
    elif read['district'][index] == 22 :
        c22+=1
    elif read['district'][index] == 23 :
        c23+=1
    elif read['district'][index] == 24 :
        c24+=1
    elif read['district'][index] == 25 :
        c25+=1
    elif read['district'][index] == 26 :
        c26+=1
    elif read['district'][index] == 27 :
        c27+=1
    elif read['district'][index] == 28 :
        c28+=1
    elif read['district'][index] == 29 :
        c29+=1
    elif read['district'][index] == 30 :
        c30+=1
    elif read['district'][index] == 31 :
        c31+=1
    elif read['district'][index] == 32 :
        c32+=1
    elif read['district'][index] == 33 :
        c33+=1
    else:
        print("h4moj")

In [47]:
    
print(c1/50000,c2/50000,c3/50000)
print(c4/50000,c5/50000,c6/50000)
print(c7/50000,c8/50000,c9/50000)
print(c10/50000,c11/50000,c12/50000)
print(c13/50000,c14/50000,c15/50000)
print(c16/50000,c17/50000,c18/50000)
print(c19/50000,c20/50000,c21/50000)
print(c22/50000,c23/50000,c24/50000)
print(c25/50000,c26/50000,c27/50000)
print(c28/50000,c29/50000,c30/50000)
print(c31/50000,c32/50000,c33/50000)

0.03122 0.03094 0.02952
0.03048 0.0306 0.03018
0.03126 0.03116 0.0307
0.02974 0.02976 0.0301
0.03162 0.0305 0.03102
0.03012 0.03092 0.03006
0.02888 0.0292 0.031
0.02906 0.02998 0.0305
0.03004 0.02874 0.03072
0.03022 0.03052 0.03084
0.02972 0.03022 0.03046