In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
data= pd.read_csv('generated_data.csv')
data.head(5)

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,debt,mental_issues,results_in_previous_year_type,status_in_previous_year,dropout_student,age_group,district,gender,label,dropout
0,0,4,7,1,1,0,0,1,1,3,...,0,0,1,1,0,0,1,0,NaN,NaN
1,0,1,3,1,0,0,0,0,2,2,...,1,0,1,2,0,2,3,1,NaN,NaN
2,1,3,0,0,0,0,0,0,0,0,...,0,0,2,1,1,3,4,1,NaN,NaN
3,0,2,5,1,0,0,1,1,3,2,...,0,0,1,0,0,1,1,1,NaN,NaN
4,0,1,7,0,1,0,1,1,4,5,...,0,0,1,1,0,4,2,0,NaN,NaN

In [5]:
label=[]
dropout=[]

for ind in data.index:
    count = float(0)
    if(data['orphan'][ind] == 0):
        if(data['social_category'][ind] < 4):
            count += 1
        if(data['minority_group'][ind] == 1 or data['minority_group'][ind] == 5):
            count += 1
        if(data['bpl_beneficiary'][ind] == 1):
            count += 1
        if(data['ews_group'][ind] == 1):
            count += 1
        if(data['cwsn'][ind] == 1):
            count += 1
        if(data['mother\'s_occupation'][ind] == 1):
            count += 1
        if(data['father\'s_occupation'][ind] == 1):
            count += 1
        if(data['mother\'s_qualification'][ind] == 0):
            count += 1
        if(data['father\'s_qualification'][ind] == 0):
            count += 1
        if(data['family_annual_income'][ind] < 1):
            count += 1
        if(data['debt'][ind] == 1):
            count += 1
        if(data['mental_issues'][ind] == 1):
            count += 1
        if(data['results_in_previous_year_type'][ind] == 3 or data['results_in_previous_year_type'][ind] == 2):
            count += 1
        if(data['status_in_previous_year'][ind] == 4):
            count += 1
        if(data['dropout_student'][ind] == 1):
            count += 1
    else:
        count += 3.5
        if(data['social_category'][ind] < 4):
            count += 1
        if(data['minority_group'][ind] == 1 or data['minority_group'][ind] == 5):
            count += 1
        if(data['bpl_beneficiary'][ind] == 1):
            count += 1
        if(data['ews_group'][ind] == 1):
            count += 1
        if(data['cwsn'][ind] == 1):
            count += 1
        if(data['mental_issues'][ind] == 1):
            count += 1
        if(data['results_in_previous_year_type'][ind] == 3 or data['results_in_previous_year_type'][ind] == 2):
            count += 1
        if(data['status_in_previous_year'][ind] == 4):
            count += 1
        if(data['dropout_student'][ind] == 1):
            count += 1
        
        
    label.append(count)
    
data['label']=label

for i in data['label']:
    dropout.append(0.0625*i)
data['dropout']=dropout

In [7]:
data.head(50)

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,debt,mental_issues,results_in_previous_year_type,status_in_previous_year,dropout_student,age_group,district,gender,label,dropout
0,0,4,7,1,1,0,0,1,1,3,...,0,0,1,1,0,0,1,0,3.0,0.18750
1,0,1,3,1,0,0,0,0,2,2,...,1,0,1,2,0,2,3,1,3.0,0.18750
2,1,3,0,0,0,0,0,0,0,0,...,0,0,2,1,1,3,4,1,6.5,0.40625
3,0,2,5,1,0,0,1,1,3,2,...,0,0,1,0,0,1,1,1,5.0,0.31250
4,0,1,7,0,1,0,1,1,4,5,...,0,0,1,1,0,4,2,0,4.0,0.25000
5,1,2,1,1,0,1,0,0,0,0,...,0,0,4,4,1,3,5,0,9.5,0.59375
6,0,3,7,0,1,0,1,0,5,3,...,0,1,1,1,0,1,4,1,4.0,0.25000
7,1,2,4,0,1,0,0,0,0,0,...,0,0,1,1,1,1,3,1,6.5,0.40625
8,0,4,7,0,0,0,1,1,4,5,...,0,0,1,1,0,3,2,0,2.0,0.12500
9,0,1,2,1,0,0,0,1,0,1,...,0,0,1,1,0,2,1,0,4.0,0.25000
10,1,2,7,0,0,1,0,0,0,0,...,0,0,1,0,0,0,6,0,5.5,0.34375
11,0,4,7,0,1,1,0,0,0,0,...,0,1,3,2,0,3,2,1,7.0,0.43750
12,1,2,7,1,0,0,0,0,0,0,...,0,1,2,2,0,0,31,0,7.5,0.46875
13,0,1,2,1,0,0,1,1,3,4,...,0,0,1,1,0,4,13,1,4.0,0.25000
14,0,4,7,0,1,1,0,1,2,3,...,0,0,1,1,0,2,22,1,3.0,0.18750
15,1,4,7,0,1,0,0,0,0,0,...,0,0,2,1,0,1,31,1,5.5,0.34375
16,1,3,3,1,0,0,0,0,0,0,...,0,0,0,3,1,0,21,0,6.5,0.40625
17,0,3,2,0,1,0,1,0,3,0,...,1,0,1,1,0,4,18,0,6.0,0.37500
18,0,2,6,1,0,1,1,1,2,1,...,0,0,1,2,0,3,19,1,5.0,0.31250
19,0,1,1,1,0,0,0,0,0,0,...,0,0,2,4,1,1,16,0,9.0,0.56250
20,1,4,7,0,0,0,0,0,0,0,...,0,1,1,4,0,2,14,0,5.5,0.34375
21,0,2,1,1,0,1,0,0,2,3,...,0,0,1,2,0,3,23,1,5.0,0.31250
22,0,2,2,1,0,0,1,1,0,1,...,0,0,1,2,1,0,4,0,7.0,0.43750
23,0,3,3,1,0,0,0,0,1,0,...,1,0,2,4,0,1,2,0,6.0,0.37500
24,1,2,1,0,1,1,1,1,0,0,...,0,0,3,1,0,2,3,1,8.5,0.53125
25,0,4,7,0,0,0,1,0,1,0,...,1,0,1,4,1,0,33,0,5.0,0.31250
26,0,2,5,1,0,0,1,0,0,1,...,0,1,0,4,0,3,2,0,8.0,0.50000
27,0,3,3,0,0,1,0,1,1,1,...,0,0,4,2,0,2,22,1,4.0,0.25000
28,0,4,7,1,1,1,1,0,1,1,...,0,0,3,3,1,5,20,0,6.0,0.37500
29,1,2,3,0,1,0,1,1,0,1,...,0,1,2,4,0,0,5,1,8.5,0.53125
30,0,1,2,1,0,0,0,0,0,0,...,1,0,1,1,0,1,21,0,5.0,0.31250
31,1,2,6,0,1,1,1,1,0,1,...,0,0,4,4,0,4,1,0,7.5,0.46875
32,0,1,1,1,0,0,1,0,0,1,...,0,1,2,2,0,5,23,1,7.0,0.43750
33,0,4,7,0,0,1,0,1,1,1,...,1,0,3,3,0,3,12,1,4.0,0.25000
34,0,2,6,1,1,1,1,1,0,1,...,0,0,2,2,1,2,5,0,10.0,0.62500
35,1,2,2,0,1,0,1,1,0,0,...,0,1,3,1,0,3,4,0,7.5,0.46875
36,0,3,3,1,0,0,1,0,0,0,...,0,0,4,4,0,1,21,1,7.0,0.43750
37,0,4,7,0,1,0,0,0,1,1,...,0,1,4,3,0,4,12,0,2.0,0.12500
38,0,3,3,0,0,0,0,1,1,1,...,0,0,2,2,0,3,6,0,3.0,0.18750
39,0,2,6,1,0,0,1,0,0,0,...,0,0,3,2,0,1,20,1,6.0,0.37500
40,1,3,2,0,0,1,1,1,0,0,...,0,0,4,1,1,0,32,1,6.5,0.40625
41,0,4,7,1,1,0,0,1,0,1,...,1,0,2,3,0,3,23,1,6.0,0.37500
42,0,4,7,0,1,0,1,0,1,0,...,1,1,1,4,0,4,2,1,7.0,0.43750
43,0,2,2,1,0,0,1,0,0,1,...,1,0,4,2,0,5,18,0,5.0,0.31250
44,1,3,3,0,0,0,1,1,0,0,...,0,0,1,2,1,4,17,0,5.5,0.34375
45,0,4,7,1,1,1,0,1,0,0,...,0,0,1,1,0,5,4,0,6.0,0.37500
46,0,4,7,0,0,0,1,0,1,5,...,0,0,1,1,0,3,7,1,1.0,0.06250
47,0,4,7,0,0,0,1,0,3,4,...,0,0,1,1,0,3,17,0,1.0,0.06250
48,0,4,7,0,0,0,1,0,2,2,...,1,0,2,1,0,2,31,0,3.0,0.18750
49,0,4,7,0,1,0,0,0,2,2,...,0,1,2,2,0,3,12,0,3.0,0.18750

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   orphan                         71 non-null     int64
 1   social_category                71 non-null     int64
 2   minority_group                 71 non-null     int64
 3   bpl_beneficiary                71 non-null     int64
 4   ews_group                      71 non-null     int64
 5   cwsn                           71 non-null     int64
 6   mother's_occupation            71 non-null     int64
 7   father's_occupation            71 non-null     int64
 8   mother's_qualification         71 non-null     int64
 9   father's_qualification         71 non-null     int64
 10  family_annual_income           71 non-null     int64
 11  debt                           71 non-null     int64
 12  mental_issues                  71 non-null     int64
 13  results_in_previous_year_type  71 non-null     int64
 14  status_in_previous_year        71 non-null     int64
 15  dropout_student                71 non-null     int64
 16  age_group                      71 non-null     int64
 17  district                       71 non-null     int64
 18  gender                         71 non-null     int64
 19  label                          71 non-null     float64
 20  dropout                        71 non-null     float64
dtypes: float64(2), int64(19)
memory usage: 11.8 KB

In [9]:
df.shape

(71, 21)

In [10]:
df.describe()

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,debt,mental_issues,results_in_previous_year_type,status_in_previous_year,dropout_student,age_group,district,gender,label,dropout
count,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,...,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,71.000000,0.0,0.0
mean,0.323944,2.647887,4.352113,0.450704,0.366197,0.267606,0.436620,0.323944,0.859155,1.126761,...,0.225352,0.211268,1.845070,1.971831,0.253521,2.422535,13.661972,0.450704,NaN,NaN
std,0.471310,1.056931,2.432510,0.501105,0.485193,0.445862,0.499497,0.471310,1.233992,1.423573,...,0.420788,0.411113,1.116728,1.230236,0.438123,1.420885,9.619836,0.501105,NaN,NaN
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN
25%,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,4.000000,0.000000,NaN,NaN
50%,0.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,2.000000,0.000000,3.000000,14.000000,0.000000,NaN,NaN
75%,1.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.500000,2.000000,...,0.000000,0.000000,2.000000,3.000000,0.500000,3.000000,21.000000,1.000000,NaN,NaN
max,1.000000,4.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,...,1.000000,1.000000,4.000000,4.000000,1.000000,5.000000,33.000000,1.000000,NaN,NaN

In [11]:
df.corr()

,orphan,social_category,minority_group,bpl_beneficiary,ews_group,cwsn,mother's_occupation,father's_occupation,mother's_qualification,father's_qualification,...,debt,mental_issues,results_in_previous_year_type,status_in_previous_year,dropout_student,age_group,district,gender,label,dropout
orphan,1.000000,-0.083207,-0.138296,-0.203613,0.098546,0.057450,-0.245294,-0.093297,-0.485381,-0.509208,...,-0.373355,-0.063344,0.205288,0.188429,0.288425,-0.057988,0.122173,-0.022150,NaN,NaN
social_category,-0.083207,1.000000,0.554554,-0.235537,0.143603,0.111866,-0.056406,0.002827,0.103824,0.020594,...,0.116722,0.107893,0.037844,0.102130,0.041279,0.043409,0.177806,-0.100673,NaN,NaN
minority_group,-0.138296,0.554554,1.000000,-0.178933,0.312831,0.175316,0.095054,0.036153,0.197608,0.193197,...,0.074895,0.095972,-0.116364,-0.020507,-0.192194,-0.002329,0.034463,-0.026576,NaN,NaN
bpl_beneficiary,-0.203613,-0.235537,-0.178933,1.000000,-0.394746,0.091857,0.001608,0.038337,-0.173107,-0.201388,...,0.121187,-0.052741,0.075507,0.252620,0.252946,-0.010456,0.082435,-0.137821,NaN,NaN
ews_group,0.098546,0.143603,0.312831,-0.394746,1.000000,0.068827,0.038190,0.098546,-0.031926,-0.006117,...,-0.060117,0.179551,-0.051989,-0.173936,-0.241364,0.207510,-0.199592,0.075308,NaN,NaN
cwsn,0.057450,0.111866,0.175316,0.091857,0.068827,1.000000,0.045173,0.193414,-0.164202,-0.121729,...,-0.097594,-0.079034,0.371374,0.039984,0.086522,0.089564,0.034714,0.219737,NaN,NaN
mother's_occupation,-0.245294,-0.056406,0.095054,0.001608,0.038190,0.045173,1.000000,0.179483,0.170726,0.222410,...,0.136894,0.100922,0.020561,-0.095938,-0.056085,0.098658,-0.061010,0.001608,NaN,NaN
father's_occupation,-0.093297,0.002827,0.036153,0.038337,0.098546,0.193414,0.179483,1.000000,0.177823,0.150843,...,-0.085222,-0.137072,0.042434,-0.156504,0.011693,0.006009,-0.237024,-0.022150,NaN,NaN
mother's_qualification,-0.485381,0.103824,0.197608,-0.173107,-0.031926,-0.164202,0.170726,0.177823,1.000000,0.709681,...,0.089512,-0.053146,-0.306330,-0.322599,-0.223671,0.034427,-0.128022,0.034817,NaN,NaN
father's_qualification,-0.509208,0.020594,0.193197,-0.201388,-0.006117,-0.121729,0.222410,0.150843,0.709681,1.000000,...,-0.072217,-0.119641,-0.337931,-0.381314,-0.350024,0.036706,-0.196072,0.099002,NaN,NaN
family_annual_income,-0.596583,0.096962,0.178037,-0.117309,-0.084166,-0.189598,0.128622,0.030353,0.518109,0.688101,...,0.149590,-0.221441,-0.226862,-0.250331,-0.333650,0.053820,-0.067407,-0.006748,NaN,NaN
debt,-0.373355,0.116722,0.074895,0.121187,-0.060117,-0.097594,0.136894,-0.085222,0.089512,-0.072217,...,1.000000,-0.031404,-0.015843,0.012438,-0.004366,0.077402,0.199074,-0.149814,NaN,NaN
mental_issues,-0.063344,0.107893,0.095972,-0.052741,0.179551,-0.079034,0.100922,-0.137072,-0.053146,-0.119641,...,-0.031404,1.000000,0.010080,0.124918,-0.142987,0.089556,-0.133397,0.016604,NaN,NaN
results_in_previous_year_type,0.205288,0.037844,-0.116364,0.075507,-0.051989,0.371374,0.020561,0.042434,-0.306330,-0.337931,...,-0.015843,0.010080,1.000000,0.391917,0.169021,0.149884,0.251707,0.049978,NaN,NaN
status_in_previous_year,0.188429,0.102130,-0.020507,0.252620,-0.173936,0.039984,-0.095938,-0.156504,-0.322599,-0.381314,...,0.012438,0.124918,0.391917,1.000000,0.304987,0.055941,0.145244,-0.118150,NaN,NaN
dropout_student,0.288425,0.041279,-0.192194,0.252946,-0.241364,0.086522,-0.056085,0.011693,-0.223671,-0.350024,...,-0.004366,-0.142987,0.169021,0.304987,1.000000,0.009050,0.186710,-0.267609,NaN,NaN
age_group,-0.057988,0.043409,-0.002329,-0.010456,0.207510,0.089564,0.098658,0.006009,0.034427,0.036706,...,0.077402,0.089556,0.149884,0.055941,0.009050,1.000000,-0.059426,-0.130839,NaN,NaN
district,0.122173,0.177806,0.034463,0.082435,-0.199592,0.034714,-0.061010,-0.237024,-0.128022,-0.196072,...,0.199074,-0.133397,0.251707,0.145244,0.186710,-0.059426,1.000000,-0.021287,NaN,NaN
gender,-0.022150,-0.100673,-0.026576,-0.137821,0.075308,0.219737,0.001608,-0.022150,0.034817,0.099002,...,-0.149814,0.016604,0.049978,-0.118150,-0.267609,-0.130839,-0.021287,1.000000,NaN,NaN
label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dropout,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
X= df.iloc[:,1:14]   all features
Y= df.iloc[:,-1]   target output (floods)